.b-card-container {
    margin-top: 220px;
}

.b-card-container__card {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 85px;
    @media screen and (min-width: 1200px) {
        width: calc(33.33% - 60px);
        float: left;
        margin-right: 30px;
        box-sizing: border-box;
        margin-left: 30px;
    }
        img {
        width: 82px;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 1;
        height: 100px;
        @media screen and (min-width: 1200px) {
            width: 130px;
            height: 117px;
        }
    } 
}

.b-description__container {
    display: flex;
    flex-direction: column;
    ul {
        padding: 0;
        display: flex;
        li {
            margin-right: 20px;
            list-style: none;
            font-family: var(--semibold);
            font-size: 14px;
            color: var(--text);
            @media screen and (min-width: 1200px) {
                font-size: 16px;
            }
        }
    }
}

.b-description__container--types {
    margin-top: 30px;
    div {
        display: flex;
        p {
            margin-right: 10px;
        }
    }
}

.b-description__container--progress {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 10px;
}

.progress-container {
    background-color: var(--btn-hide);
    width: 100%;
    height: 20px;
    border-radius: 5px;
}