@font-face {
    font-family: 'Poppins Semibold';
    src: url(../assets/fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: 'Poppins Medium';
    src: url(../assets/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'Poppins Regular';
    src: url(../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins Light';
    src: url(../assets/fonts/Poppins-Light.ttf);
}

:root {
    --semibold: 'Poppins Semibold';
    --medium: 'Poppins Medium';
    --regular: 'Poppins Regular';
    --light: 'Poppins Light';
}

h2 {
    color: var(--text);
    font-family: var(--regular);
    font-size: 18px;
    text-transform: capitalize;
}

.heading-card {
    font-family: var(--medium);
    font-size: 14px;
    color: var(--text);
}

.subheading-card {
    font-family: var(--regular);
    font-size: 12px;
    color: var(--text);
}

.p-card {
    font-family: var(--light);
    font-size: 11px;
    color: var(--text);
}

.type-card {
    font-family: var(--regular);
    font-size: 12px;
    color: var(--text);
    background-color: var(--red);
    border-radius: 8px;
    padding: 6px 15px;
}