@font-face {
    font-family: 'Poppins Semibold';
    src: url(../assets/fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: 'Poppins Medium';
    src: url(../assets/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'Poppins Regular';
    src: url(../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins Light';
    src: url(../assets/fonts/Poppins-Light.ttf);
}

:root {
    --semibold: 'Poppins Semibold';
    --medium: 'Poppins Medium';
    --regular: 'Poppins Regular';
    --light: 'Poppins Light';
}

h1 {
    color: var(--text);
    font-family: var(--semibold);
    font-size: 24px;
    margin: 0 0 12px 0;
    padding-left: 40px;
    @media screen and (min-width: 1200px) {
        padding-left: 200px;
    } 
}

h2 {
    color: var(--text);
    font-family: var(--regular);
    font-size: 18px;
    text-transform: capitalize;
    @media screen and (min-width: 1200px) {
        cursor: pointer;
    }
}

.heading-card {
    font-family: var(--medium);
    font-size: 14px;
    color: var(--text);
    margin-bottom: 8px;
}

.subheading-card {
    font-family: var(--regular);
    font-size: 12px;
    color: var(--text);
    margin: 0;

}

.p-card {
    font-family: var(--light);
    font-size: 11px;
    color: var(--text);
    margin: 5px 0;
    &--upper {
        text-transform: capitalize;
    }
}

.type-card {
    font-family: var(--regular);
    font-size: 12px;
    color: var(--text);
    background-color: var(--red);
    border-radius: 8px;
    padding: 6px 15px;
    margin: 0;
    text-transform: capitalize;
}

.progress-text {
    font-family: var(--regular);
    font-size: 12px;
    color: var(--text);
}