:root {
  --bg: #000;
  --bg-card: #43403F;
  --text: #EDEDED;
  --red: #DA0138;
  --text-input: #97BFB4;
  --btn-hide: #635e5d;
}

@font-face {
  font-family: "Poppins Semibold";
  src: url(../assets/fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: "Poppins Medium";
  src: url(../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Poppins Regular";
  src: url(../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins Light";
  src: url(../assets/fonts/Poppins-Light.ttf);
}
:root {
  --semibold: "Poppins Semibold";
  --medium: "Poppins Medium";
  --regular: "Poppins Regular";
  --light: "Poppins Light";
}

h1 {
  color: var(--text);
  font-family: var(--semibold);
  font-size: 24px;
  margin: 0 0 12px 0;
  padding-left: 40px;
}
@media screen and (min-width: 1200px) {
  h1 {
    padding-left: 200px;
  }
}

h2 {
  color: var(--text);
  font-family: var(--regular);
  font-size: 18px;
  text-transform: capitalize;
}
@media screen and (min-width: 1200px) {
  h2 {
    cursor: pointer;
  }
}

.heading-card {
  font-family: var(--medium);
  font-size: 14px;
  color: var(--text);
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .heading-card {
    font-size: 16px;
  }
}

.subheading-card {
  font-family: var(--regular);
  font-size: 12px;
  color: var(--text);
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .subheading-card {
    font-size: 14px;
  }
}

.p-card {
  font-family: var(--light);
  font-size: 11px;
  color: var(--text);
  margin: 5px 0;
}
@media screen and (min-width: 1200px) {
  .p-card {
    font-size: 13px;
  }
}
.p-card--upper {
  text-transform: capitalize;
}

.type-card {
  font-family: var(--regular);
  font-size: 12px;
  color: var(--text);
  background-color: var(--red);
  border-radius: 8px;
  padding: 6px 15px;
  margin: 0;
  text-transform: capitalize;
}

.progress-text {
  font-family: var(--regular);
  font-size: 12px;
  color: var(--text);
  text-transform: capitalize;
}
@media screen and (min-width: 1200px) {
  .progress-text {
    font-size: 13px;
  }
}

.box {
  background-color: var(--bg-card);
  border: none;
  border-radius: 8px;
  padding: 6px 15px;
}
.box--btn-hide {
  background-color: #181817;
  color: var(--text-input);
  margin: 30px auto 10px auto;
  width: 100%;
  cursor: pointer;
}

.b-card-container {
  margin-top: 220px;
}

.b-card-container__card {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 85px;
}
@media screen and (min-width: 1200px) {
  .b-card-container__card {
    width: calc(33.33% - 60px);
    float: left;
    margin-right: 30px;
    box-sizing: border-box;
    margin-left: 30px;
  }
}
.b-card-container__card img {
  width: 82px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
  height: 100px;
}
@media screen and (min-width: 1200px) {
  .b-card-container__card img {
    width: 130px;
    height: 117px;
  }
}

.b-description__container {
  display: flex;
  flex-direction: column;
}
.b-description__container ul {
  padding: 0;
  display: flex;
}
.b-description__container ul li {
  margin-right: 20px;
  list-style: none;
  font-family: var(--semibold);
  font-size: 14px;
  color: var(--text);
}
@media screen and (min-width: 1200px) {
  .b-description__container ul li {
    font-size: 16px;
  }
}

.b-description__container--types {
  margin-top: 30px;
}
.b-description__container--types div {
  display: flex;
}
.b-description__container--types div p {
  margin-right: 10px;
}

.b-description__container--progress {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 10px;
}

.progress-container {
  background-color: var(--btn-hide);
  width: 100%;
  height: 20px;
  border-radius: 5px;
}

body {
  background-color: var(--bg);
}

.logo-header {
  cursor: pointer;
}

.b-container {
  padding: 60px 38px 45px 38px;
}

.b-fix {
  position: fixed;
  background-color: var(--bg);
  z-index: 2;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  margin-top: 40px;
}

main {
  display: flex;
  flex-direction: column;
}

.b-search {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}
@media screen and (min-width: 1200px) {
  .b-search {
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
  }
}
.b-search label {
  color: var(--text);
  font-family: var(--medium);
  font-size: 14px;
}
.b-search input {
  color: var(--text-input);
  width: 70%;
}
@media screen and (min-width: 1200px) {
  .b-search input {
    width: 90%;
    margin-right: 20px;
  }
}
.b-search input::-moz-placeholder {
  color: var(--text-input);
  font-size: 12px;
  font-family: var(--medium);
}
.b-search input:-ms-input-placeholder {
  color: var(--text-input);
  font-size: 12px;
  font-family: var(--medium);
}
.b-search input::placeholder {
  color: var(--text-input);
  font-size: 12px;
  font-family: var(--medium);
}

.b-search__input {
  display: flex;
  justify-content: space-between;
  margin: 12px 0 22px 0;
}
.b-search__input button {
  cursor: pointer;
}

.b-search__btn--img {
  width: 15px;
}

.back-btn {
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .back-btn {
    display: flex;
    cursor: pointer;
  }
}/*# sourceMappingURL=main.css.map */