@import '_colors';
@import '_fonts';
@import '_box';
@import '_cards';

body {
    background-color: var(--bg);
}

.logo-header {
    cursor: pointer;
}

.b-container {
    padding: 60px 38px 45px 38px;
}

.b-fix {
    position: fixed;
    background-color: var(--bg);
    z-index: 2;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 40px;
}

main {
    display: flex;
    flex-direction: column;

}

.b-search {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    @media screen and (min-width: 1200px) {
        justify-content: center;
        padding-left: 200px;
        padding-right: 200px;
    } 
    label {
        color: var(--text);
        font-family: var(--medium);
        font-size: 14px;
    }
    input {
        color: var(--text-input);
        width: 70%;
        @media screen and (min-width: 1200px) {
            width: 90%;
            margin-right: 20px;
        } 
        &::placeholder {
            color: var(--text-input);
            font-size: 12px;
            font-family: var(--medium);
        }
    }
}

.b-search__input {
    display: flex;
    justify-content: space-between;
    margin: 12px 0 22px 0;
    button {
        cursor: pointer;
    }
}

.b-search__btn--img {
    width: 15px;
}

.back-btn {
    background-color: transparent;
    border: none;
    margin-bottom: 10px;
    @media screen and (min-width: 1200px) {
        display: flex;
        cursor: pointer;
    } 
}